.message{ "data-message-id": "#{message.id}" }
  .upper-message
    .right-content__message3
      = message.user.name
    %span.right-content__date
      = message.created_at
  .right-content__message4
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
