= render 'shared/side_bar'

.right-content
  .right-content__header
    %span.right-content__message1
      = @group.name
    %span.right-content__edit
      = link_to "Edit", edit_user_path(current_user), style:"color:#38AEF0; text-decoration:none;"
    %span.right-content__message2
      = @group.show_last_message

  .right-content__body
    .right-content__space
    .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: ' Type a message'
      .form__picture
        = f.label :image, class: 'form__picture__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'


