= render 'shared/side_bar'

.right-content
  .right-content__header
    %span.right-content__message1 チーム夜型人間ズ
    %span.right-content__edit Edit
    .right-content__message2 午前中は、死亡遊戯...

  .right-content__body
    .right-content__space
    .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__text', placeholder: ' Type a message'
      .form__picture
        = f.label :image, class: 'form__picture__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'


